{{>header}}
{{> nav}}
<h1>Housing Advice</h1>
<img class="img-views" src="https://images.unsplash.com/photo-1519365433533-431801352d7b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=767b952db1c53219d0713eded7c3b41a&auto=format&fit=crop&w=400&q=60" alt="house">

<h2 class="view">Links to Housing resources</h2>
<ul>
    <li><a href="http://hrcsf.org/">Housing Rights Committee of San Francisco</a></li>
    <li><a href="https://www.sftu.org/">San Francisco Tenants Union</a></li>
    <li><a href="https://www.tobenerlaw.com/">San Francisco Tenent Law Firm</a></li>
</ul>
