{{>header}}
{{> nav}}

<h1>Medical Advice</h1>
<img class="img-views" src="https://images.unsplash.com/photo-1519781542704-957ff19eff00?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c351475860e8248dcd543ebbba1aa24f&auto=format&fit=crop&w=1146&q=80" alt="">

<h2 class="view">Links to Medical resources</h2>
<ul>
        <li><a href="https://healthysanfrancisco.org/">Healthy SF</a></li>
        <li><a href="https://sffc.org/health-insurance/">Free Clinic SF</a></li>
        <li><a href="https://www.sfhp.org/">San Francisco Health Plan</a></li>
</ul>


<h2 class="view">Links to Medical resources</h2>
<ul>
        <li><a href="https://baylegal.org/get-help/find-an-office/san-francisco-county/">Bay Area Legal Aid</a></li>
        <li><a href="https://calcountylawlib.libguides.com/legalservices">San Francisco Law Library</a></li>
</ul>
