<h1>Bankruptcy Advice</h1>
<input type="checkbox" name="checkbox1" value="checkbox1"> I have a mortage<br>
<input type="checkbox" name="checkbox2" value="checkbox2"> I have a car payment<br>
<input type="checkbox" name="checkbox3" value="checkbox3"> I have student loans<br>
<input type="checkbox" name="checkbox4" value="checkbox4"> I have medical payments<br>
<input type="checkbox" name="checkbox5" value="checkbox5"> I have credit card debit<br>
<input type="checkbox" name="checkbox6" value="checkbox6"> I have child support payments<br>
<input type="checkbox" name="checkbox7" value="checkbox7"> I have an outstanding financial judgement<br>
<input type="checkbox" name="checkbox8" value="checkbox8"> I have a outstanding utlity payments<br>
<input type="checkbox" name="checkbox9" value="checkbox9"> I have a boat which a horrible idea<br>
