{{>header}}
{{> nav}}

<h1>Saving Advice</h1>
<img src="https://images.unsplash.com/photo-1531816466008-90e3a4b01450?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fc178f3219178b26c80a7f597c8b852b&auto=format&fit=crop&w=1050&q=80" alt="">

<h2>Links to Housing resources</h2>
<ul>
        <li><a href="https://www.frugalhackers.com/blog/2018/1/20/living-on-7000-per-year-in-pricey-san-francisco">Frugal living SF</a></li>

</ul>
