<footer class="footer">
  <div class="footer">
    <p class="text-muted">&copy; Bankruptcy 2018 | <a href="/user/login">Login</a> | <a href="/user/sign-up">New User</a></p>
  </div>
</footer>

</body>

</html>
