{{> header}}
{{> nav}}

<div class="about-page">
    <div class="header-img">
    </div>
    <div class="about-content">
        <p>I am a software engineering student studying at Make School in San Francisco. I am a military veteran that served for six years prior to moving to California to study computer programming.</p>
    </div>
    <p class="content-separation">...</p>
    <div class="about-content">
        <p>I am originally from Georgia and I was inspired to make Monie$
            based on this <a class="btn btn-secondary" href="https://www.propublica.org/article/debt-collection-lawsuits-squeeze-black-neighborhoods">ProPublica Series</a>
        </p>
    </div>

    </div>
    <h5 class="section-header-2">For more information.</h5>
    <div class="more-info-links">
        <a class="btn btn-secondary" href="https://github.com/kendrajmoore">Kendra's Github</a>
        <a class="btn btn-secondary" href="https://kendrajmoore.github.io/bankruptcy-app/#/">Docs</a>
    </div>
</div>
