{{> header}}
{{> nav}}
<h1>Account Information</h1>

<h3>Username: {{this.username}}</h3>
<p><a class="button is-success" href="/budget/{{budget._id}}/edit">Edit</a></p>
      <a class="button is-success" href="/budget">Back</a><br>
       <p><form method="POST" action="/budget/{{budget._id}}?_method=DELETE">
          <button class="button is-danger" type="submit">Delete</button>
      </form></p>
