{{>header}}
{{> nav}}
<h1>Homepage</h1>
<div class="columns">

     <div class="column">
   <h2>first</h2>
    </div>
 <div class="column">
<h2>second</h2>
    </div>
 <div class="column">
<h2>third</h2>
    </div>
</div>
