{{>header}}
{{> nav}}
<h1 class="homepage-title">Homepage</h1>
<div class="container">

     <div class="box">
   <h2>Make A Budget</h2>
    <img class="img-homepage" src="https://static1.squarespace.com/static/5719580145bf21f020848ce2/t/5a56a664419202b169916f03/1515628200124/budget.jpg" alt="">
    </div>
 <div class="box">
     <h2>Get Advice</h2>
     <img class="img-homepage" src="https://lh3.googleusercontent.com/e2B5l3hXKFrIQR8y0ebHG-JW3i79_wtvDiDYei1-jPTPbsq9AnNj4a4HAjuBrrY2hnAGev5IkvCRzFtQcbmxz6mQYmiq3fg" alt="">
    </div>
 <div class="box">
     <h2>Plan for the Future</h2>
     <img class="img-homepage" src="https://banner2.kisspng.com/20180314/bew/kisspng-house-free-content-clip-art-animated-house-5aa9a512cc3c72.4970414415210672828366.jpg" alt="">
    </div>
</div>
