{{>header}}
{{> nav}}
<div class="hero">
    <div class="hero-overlay-text">
        <h2>FINANCES MADE EASY</h2>
        <h4>Professional financial advice in 15 minutes</h4>
        <a class="call-to-action-btn" href="/signup">Get Started</a>
    </div>
</div><!--closing hero div-->
<div class="how-it-works-section">
    <h2>How Monie$ Works</h2>
    <div class="icons-and-content">
        <div class="icon">
            <div class="icon-1"></div>
            <p class="content-title">Choose Location</p>
            <p>Help us locate restaurants near you.</p>
        </div>
        <div class="icon">
            <div class="icon-2"></div>
            <p class="content-title">Select Nutritional Preference</p>
            <p>Let us know what you prefer.</p>
        </div>
        <div class="icon">
            <div class="icon-3"></div>
            <p class="content-title">Pick Meal</p>
            <p>The meal is picked for you.</p>
        </div>
    </div>
</div><!--end of how-it-works-section-->
<div class="local-styles-footer">
    <div class="local-styles-container">
        <div class="local-styles-footer-cta">
            <h3>Monie$</h3>
            <p>Plan Your Future</p>
            <br>
            <a class="call-to-action-btn-2" href="/login">Login</a>
        </div>
        <div class="local-styles-footer-links">
            <h3>Links</h3>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/budget/about">About Us</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign Up</a></li>
            </ul>
        </div>
    </div>
</div>
