{{>header}}
{{> nav}}
<h1 class="homepage-title">Homepage</h1>
<div class="container">

     <div class="box">
   <h2>Make A Budget</h2>
    <img class="img-homepage" src="https://static1.squarespace.com/static/5719580145bf21f020848ce2/t/5a56a664419202b169916f03/1515628200124/budget.jpg" alt="">
    </div>
 <div class="box">
     <h2>Get Advice</h2>
     <img class="img-homepage" src="https://lh3.googleusercontent.com/e2B5l3hXKFrIQR8y0ebHG-JW3i79_wtvDiDYei1-jPTPbsq9AnNj4a4HAjuBrrY2hnAGev5IkvCRzFtQcbmxz6mQYmiq3fg" alt="">
    </div>
 <div class="box">
     <h2>Plan for the Future</h2>
     <img class="img-homepage" src="https://images.unsplash.com/photo-1494475673543-6a6a27143fc8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8ac1cd959c612d4991a81c31ec840399&auto=format&fit=crop&w=634&q=80" alt="">
    </div>
</div>
