.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.budget {
    width: 200px;
    margin: 50px 0 0 0;
    background-color: gray;
    padding: 20px 0 20px 0;
    text-align: center;
}
