{{> header}}
{{> nav}}
<ul>
    <div class="container">
    <!-- For #each post... -->
    {{#each budget}}
            <div class="budget">
                <h3 class="budget-title"><a href="/budget/{{this._id}}">Expense: {{this.name}}</a></h3>
                <h4>Dollar Amount: {{this.amount}}</h4>
                <h4>Expense Category: {{this.category}}</h4>
                </div>
            <hr>
    {{/each}}
    </div>
</ul>
