{{> header}}
  {{> nav}}
      <h1>New Budget</h1>
       <div style="width: 30%; margin: 25px auto;">
      <form action="/budget" method="POST">
          <div class="form-group">
              <h3>Housing</h3>
              <label for="expense">Expense: </label>
              <input type="text" name="name" placeholder="Expense" /><br/>
               <label for="expense">Dollar Amount: </label>
              <input type="number" name="amount" placeholder="Expense-Amount" /><br>
              <label for="expense">Category: </label>
               <input type="text" name="category" placeholder="category" /><br/>
          </div>
          <br>
          <br>
          <div class="form-group">
              <h3>Food</h3>
              <label for="expense">Expense: </label>
              <input type="text" name="name" placeholder="Expense" /><br/>
               <label for="expense">Dollar Amount: </label>
              <input type="number" name="amount" placeholder="Expense-Amount" /><br>
              <label for="expense">Category: </label>
               <input type="text" name="category" placeholder="category" /><br/>
          </div>
          <br>
          <br>
          <div class="form-group">
              <h3>Transporation</h3>
              <label for="expense">Expense: </label>
              <input type="text" name="name" placeholder="Expense" /><br/>
               <label for="expense">Dollar Amount: </label>
              <input type="number" name="amount" placeholder="Expense-Amount" /><br>
              <label for="expense">Category: </label>
               <input type="text" name="category" placeholder="category" /><br/>
          </div>
          <br>
          <br>
          <div class="form-group">
              <h3>Insurance</h3>
              <label for="expense">Expense: </label>
              <input type="text" name="name" placeholder="Expense" /><br/>
               <label for="expense">Dollar Amount: </label>
              <input type="number" name="amount" placeholder="Expense-Amount" /><br>
              <label for="expense">Category: </label>
               <input type="text" name="category" placeholder="category" /><br/>
          </div>
          <br>
          <br>
          <div class="form-group">
              <h3>Clothing</h3>
              <label for="expense">Expense: </label>
              <input type="text" name="name" placeholder="Expense" /><br/>
               <label for="expense">Dollar Amount: </label>
              <input type="number" name="amount" placeholder="Expense-Amount" /><br>
              <label for="expense">Category: </label>
               <input type="text" name="category" placeholder="category" /><br/>
          </div>
          <br>
          <br>
          <div class="form-group">
              <h3>Entertainment</h3>
              <label for="expense">Expense: </label>
              <input type="text" name="name" placeholder="Expense" /><br/>
               <label for="expense">Dollar Amount: </label>
              <input type="number" name="amount" placeholder="Expense-Amount" /><br>
              <label for="expense">Category: </label>
               <input type="text" name="category" placeholder="category" /><br/>
          </div>
          <br>
          <br>
          <div class="form-group">
              <h3>Savings</h3>
              <label for="expense">Expense: </label>
              <input type="text" name="name" placeholder="Expense" /><br/>
               <label for="expense">Dollar Amount: </label>
              <input type="number" name="amount" placeholder="Expense-Amount" /><br>
              <label for="expense">Category: </label>
               <input type="text" name="category" placeholder="category" /><br/>
          </div>
          <br>
          <br>
          <button type="submit" class="orange">Save</button>

      </form>
  </div>
