{{> header}}
  {{> nav}}
      <h1>New Budget</h1>
       <div style="width: 30%; margin: 25px auto;">
      <form action="/budget" method="POST">
          <div class="form-group">
              <h3>Housing</h3>
              <label for="expense">Expense: </label>
              <input type="text" name="housingName" placeholder="Expense" /><br/>
               <label for="expense">Dollar Amount: </label>
              <input type="number" name="housingAmount" placeholder="Expense-Amount" /><br>
              <label for="expense">Category: </label>
               <input type="text" name="housingCategory" placeholder="housingCategory" /><br/>
          </div>
          <br>
          <br>
          <div class="form-group">
              <h3>Food</h3>
              <label for="expense">Expense: </label>
              <input type="text" name="foodName" placeholder="Expense" /><br/>
               <label for="expense">Dollar Amount: </label>
              <input type="number" name="foodAmount" placeholder="Expense-Amount" /><br>
              <label for="expense">Category: </label>
               <input type="text" name="foodCategory" placeholder="category" /><br/>
          </div>
          <br>
          <br>
          <div class="form-group">
              <h3>Transporation</h3>
              <label for="expense">Expense: </label>
              <input type="text" name="transportationName" placeholder="Expense" /><br/>
               <label for="expense">Dollar Amount: </label>
              <input type="number" name="transportationAmount" placeholder="Expense-Amount" /><br>
              <label for="expense">Category: </label>
               <input type="text" name="transportationCategory" placeholder="transportationCategory" /><br/>
          </div>
          <br>
          <br>
          <div class="form-group">
              <h3>Insurance</h3>
              <label for="expense">Expense: </label>
              <input type="text" name="insuranceName" placeholder="Expense" /><br/>
               <label for="expense">Dollar Amount: </label>
              <input type="number" name="insuranceAmount" placeholder="Expense-Amount" /><br>
              <label for="expense">Category: </label>
               <input type="text" name="insuranceCategory" placeholder="category" /><br/>
          </div>
          <br>
          <br>
          <div class="form-group">
              <h3>Clothing</h3>
              <label for="expense">Expense: </label>
              <input type="text" name="clothingName" placeholder="Expense" /><br/>
               <label for="expense">Dollar Amount: </label>
              <input type="number" name="clothingAmount" placeholder="Expense-Amount" /><br>
              <label for="expense">Category: </label>
               <input type="text" name="clothingCategory" placeholder="category" /><br/>
          </div>
          <br>
          <br>
          <div class="form-group">
              <h3>Entertainment</h3>
              <label for="expense">Expense: </label>
              <input type="text" name="entertainmentName" placeholder="Expense" /><br/>
               <label for="expense">Dollar Amount: </label>
              <input type="number" name="entertainmentAmount" placeholder="Expense-Amount" /><br>
              <label for="expense">Category: </label>
               <input type="text" name="entertainmentCategory" placeholder="category" /><br/>
          </div>
          <br>
          <br>
          <div class="form-group">
              <h3>Savings</h3>
              <label for="expense">Expense: </label>
              <input type="text" name="savingName" placeholder="Expense" /><br/>
               <label for="expense">Dollar Amount: </label>
              <input type="number" name="savingAmount" placeholder="Expense-Amount" /><br>
              <label for="expense">Category: </label>
               <input type="text" name="savingCategory" placeholder="category" /><br/>
          </div>
          <br>
          <br>
          <button type="submit" class="orange">Save</button>

      </form>
  </div>
